@font-face {
    font-family: "StarTrekFuture";
    src: url(https://www.fontspace.com/star-trek-future-font-f38704)};
.gallery{
    justify-content:space-around;
    align-items: center;
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
   

        img {
           
            margin-left: 5%;
            margin-right: 5%;
            border-radius: 50%;
            width: 300px;
            height: 300px;
            
          }

    @media (min-width: 480px) and (max-width: 759px) {
        margin-top: 30%;
       
        display: flex;
        justify-content: center;
        align-items: center;
        
        border-radius: 50%;
    }
    @media (max-width: 479px) {
        margin-top: 30%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        
}}
